extends ../../layouts/socialDashboard.pug

block main
    .friends-container
        h1.title Danh sách người dùng

        .users-list
            each user in users
                .box-user
                    .inner-avatar
                        img(src=user.avatar alt=user.fullName)
                    .inner-info
                        .inner-name= user.fullName
                        .inner-buttons
                            button.btn.btn-sm.btn-primary.mr-1(btn-add-friend=user.id) Kết bạn
                            button.btn.btn-sm.btn-secondary.mr-1(btn-cancel-friend=user.id) Hủy
                        
