extends ../../layouts/socialDashboard.pug

block main
    .friends-container
        h1.title Danh sách người dùng

        .users-list(data-user-list=user.id)
            each u in users
                .box-user(user-id=u.id)
                    .inner-avatar
                        img(src=u.avatar alt=u.fullName)
                    .inner-info
                        .inner-name= u.fullName
                        .inner-buttons
                            button.btn.btn-sm.btn-primary.mr-1(btn-add-friend=u.id) Kết bạn
                            button.btn.btn-sm.btn-secondary.mr-1(btn-cancel-friend=u.id) Hủy
